.button
  font-family: 'Roboto', sans-serif
  font-size: 15px
  line-height: 22px
  font-weight: 500
  background-color: $active-color
  color: $text-color-light
  border: none  
  border-radius: 5px
  vertical-align: middle
  &:hover 
    background-color: lighten($active-color, 5)
    cursor: pointer
  img
    vertical-align: middle
    margin-right: 5px
  // &-big 
  //   padding-top: 12px
  //   padding-bottom: 12px
  //   vertical-align: middle

.input 
  font-family: "Roboto", sans-serif
  font-size: 14px
  font-weight: 300
  line-height: 42px
  color: #373737
  border: none
  border-radius: 5px
  vertical-align: middle


img 
  // max-width: 100%

input, button 
  &:focus
    outline: none