.button
  font-family: 'Roboto', sans-serif
  font-size: 14px
  line-height: 20px
  font-weight: 500
  padding: 12px 18px
  background-color: $active-color
  color: $text-color-light
  border: none  
  border-radius: 5px
  vertical-align: middle
  &:hover 
    background-color: lighten($active-color, 5)
    cursor: pointer
  img
    vertical-align: middle
    margin-right: 5px
  &-lg
    padding-top: 18px
    padding-bottom: 18px

.input 
  font-family: "Roboto", sans-serif
  font-size: 14px
  font-weight: 300
  line-height: 20px
  padding: 18px
  color: #373737
  border: none
  border-radius: 5px
  vertical-align: middle


img 
  // max-width: 100%

input, button 
  &:focus
    outline: none