@media (min-width: 1200px)
  .container 
    max-width: 970px

@media (max-width: 575.98px)
  .hidden-mobile 
    display: none
  // menu
  .menu 
    display: none
    &-close 
      display: block
      color: $text-color-light
      font-size: 45px
      position: absolute
      top: -7px
      cursor: pointer
    &-item 
      border: none
      text-align: center
      &::before 
        content: ''
        display: block
        width: 15px
        height: 1px
        border-bottom: 1px dotted rgba(255, 255, 255, 0.4)
        margin: 0 auto
      &:first-child
        &::before 
          border: none
    .menu-item__link 
      font-size: 14px
      line-height: 40px
      padding: 3px 0
    &-block 
      flex-direction: column
  // header
  .header 
    background-color: $bg-color-light
    padding: 15px 0
    &-link 
      &__burger 
        display: block
    &-logo 
      background: $active-color url(../img/header/header-logo-mobile.png) center no-repeat      
      width: 36px
      height: 35px
      border-radius: 4px
    &-contacts 
      &__phones 
        flex-direction: column
      &__phone
        font-size: 14px
        font-weight: 400
        line-height: 17px
        margin: 0
        &:first-child
          border: none
        &-mobile 
          font-weight: 900
      &__button 
        padding: 5px
        margin: 0
        line-height: 16px
        img 
          width: 16px
          margin: 0 
  // main 
  .main 
    padding-top: 50px
    padding-bottom: 58px
    &-form 
      padding: 20px
    &-text      
      text-align: center
      &__title 
        font-size: 22px
        line-height: 24px
        color: $active-color
      &__subtitle 
        font-size: 18px
        margin-bottom: 40px
      &__form 
        background-color: transparent
        padding: 0
    .form
      display: block
      &-title 
        font-size: 15px
        line-height: 18px
        &__btn 
          padding: 15px 33px
        &__important
          display: inline-block
          margin-top: 14px
        &__input 
          display: block
          width: 100%
          padding: 14px
          text-align: center
          margin-bottom: 13px
      &-small 
        font-size: 13px
        line-height: 30px
        margin: 0
        margin-top: 10px 
  // popup 
  .popup 
    width: 250px
    &-title 
      font-size: 18px
    &-form       
      padding: 0
      &__header
        font-size: 24px
        line-height: 22px
        margin: 0
        span 
          display: none
      &__label 
        font-size: 16px
      &__enter 
        display: flex 
        flex-direction: column
        align-items: center
        margin-top: 17px
      &__input 
        width: 200px
        margin-bottom: 15px
        padding-top: 18px
        padding-bottom: 18px
        text-align: center
      &__btn
        width: 200px
        height: 56px
        margin: 0
  // features
  .features 
    padding-top: 24px
    padding-bottom: 32px
    &-blocks 
      display: block
    &-block 
      padding: 22px 16px
      margin-bottom: 8px
  .numbers 
    margin-bottom: 0
    &-block
      width: 100%
      margin: 0
      margin-bottom: 20px 
      &__title 
        font-size: 30px
        margin: 0
      &__text 
        font-size: 14px
  // products 
  .products 
    padding-top: 32px
    padding-bottom: 13px
    &-block 
      margin-bottom: 30px
      &__img
        margin-bottom: 10px
        width: 100%
      &__title 
        margin-bottom: 17px
        font-size: 18px
  .section
    &-title 
      font-size: 22px
      margin-bottom: 10px
      &::after 
        display: none
  // offer
  .offer 
    padding-top: 50px
    padding-bottom: 58px
    &-title 
      font-size: 20px
      font-weight: 700
      &-small 
        font-size: 16px
        font-weight: 400
        margin-bottom: 30px
    &-form 
      &-label 
        font-size: 14px
        font-weight: 300
        margin-bottom: 22px
    &-input 
      padding: 14px 59px
    &-button 
      padding: 15px 31px
  // production 
  .production 
    padding-top: 28px
    padding-bottom: 26px
    &-slider
      &-bottom 
        display: none    
    &-text 
      &__title 
        margin: 0
        margin-left: -15px
        margin-right: -15px
        padding: 16px 0
        text-align: center
        margin-bottom: 17px
      &__descr 
        font-size: 14px
        font-weight: 300
        line-height: 18px
  .slider
    &-arrow 
      &__mobile 
        position: absolute
        top: 50%
        margin-top: -39px
        width: 22px
        height: 79px
        background-color: $active-color
        z-index: 2
        cursor: pointer 
      &__right-mobile 
        right: 0
        background: #ff9d00 url(../img/production/arrow-right-active.png) no-repeat center 
      &__left-mobile 
        left: 0
        background: #ff9d00 url(../img/production/arrow-left-active.png) no-repeat center
  // clients
  .clients 
    padding-top: 28px
    padding-bottom: 20px
    &-block 
      margin-bottom: 8px
      &__img 
        width: 100%
        filter: none
  .col
    &-mod:nth-child(odd) 
      padding-right: 4px
    &-mod:nth-child(even)
      padding-left: 4px
  // contacts
  .contacts 
    padding-top: 36px
    padding-bottom: 15px
    padding-left: 15px
    padding-right: 15px
    &-block 
      display: none
    &-mobile 
      display: block
  .copyright 
    font-size: 11px
  .map 
    width: 100%
    height: 420px

@media (min-width: 576px) and (max-width: 767.98px)
  .hidden-mobile 
    display: none
  // menu
  .menu 
    display: none
    &-close 
      display: block
      color: $text-color-light
      font-size: 45px
      position: absolute
      top: -7px
      cursor: pointer
    &-item 
      border: none
      text-align: center
      &::before
        content: ''
        display: block
        width: 15px
        height: 1px
        border-bottom: 1px dotted rgba(255, 255, 255, 0.4)
        margin: 0 auto
      &:first-child
        &::before 
          border: none
      .menu-item__link 
        font-size: 16px
        line-height: 40px
        padding: 3px 0
    &-block 
      flex-direction: column
  // header
  .header 
    padding: 15px 0
    &-link 
      &__burger 
        display: block
    &-logo 
      background: $active-color url(../img/header/header-logo-mobile.png) center no-repeat      
      width: 36px
      height: 35px
      border-radius: 4px
    &-contacts 
      &__phones 
        flex-direction: column
      &__phone
        font-size: 16px
        font-weight: 400
        line-height: 17px
        margin: 0
        &:first-child
          border: none
        &-mobile 
          font-weight: 900
      &__button 
        padding: 5px
        margin: 0
        line-height: 16px
        img 
          width: 16px
          margin: 0 
  // main 
  .main 
    padding-top: 50px
    padding-bottom: 58px
    &-text      
      text-align: center
      &__title 
        font-size: 26px
        line-height: 24px
        color: $active-color
      &__subtitle 
        font-size: 20px
        margin-bottom: 40px
      &__form 
        background-color: transparent
        padding: 0
    .form
      display: block
      &-title 
        font-size: 17px
        line-height: 18px
        &__btn 
          padding: 15px 33px
        &__important
          display: inline-block
          margin-top: 14px
        &__input 
          display: block
          width: 70%
          margin: 0 auto
          padding: 14px
          text-align: center
          margin-bottom: 13px
      &-small 
        font-size: 14px
        line-height: 30px
        margin: 0
        margin-top: 10px
  // popup 
  .popup 
    width: 350px
    &-title 
      font-size: 20px
    &-form       
      padding: 0
      &__header
        font-size: 25px
        line-height: 22px
        span 
          display: none
      &__label 
        font-size: 18px
      &__enter 
        display: flex 
        flex-direction: column
        align-items: center
        margin-top: 17px
      &__input 
        width: 200px
        margin-bottom: 15px
        padding-top: 18px
        padding-bottom: 18px
        text-align: center
      &__btn
        width: 200px
        height: 56px
        margin: 0
  // features
  .features 
    padding-top: 24px
    padding-bottom: 32px
    &-blocks 
      display: flex
    &-block 
      padding: 22px 16px
      margin-bottom: 18px
      flex-basis: 48%
  .numbers 
    margin-bottom: 17px
    &-block
      width: 100%
      margin: 0
      margin-bottom: 20px 
      &__title 
        font-size: 32px
        margin: 0
      &__text 
        font-size: 14px
  // products 
  .products 
    padding-top: 32px
    padding-bottom: 13px
    &-block 
      margin-bottom: 30px
      &__img
        margin-bottom: 10px
        width: 80%
      &__title 
        margin-bottom: 17px
        font-size: 18px
  .section
    &-title 
      font-size: 22px
      margin-bottom: 10px
      &::after 
        display: none
  // offer
  .offer 
    padding-top: 50px
    padding-bottom: 58px
    &-title 
      font-size: 22px
      font-weight: 700
      &-small 
        font-size: 18px
        font-weight: 400
        margin-bottom: 30px
    &-form 
      &-label 
        font-size: 16px
        font-weight: 300
        margin-bottom: 22px
    &-input 
      padding: 16px 65px
    &-button 
      padding: 15px 31px
  // production 
  .production
    padding-top: 35px
    padding-bottom: 35px
    &-slider
      &-bottom 
        &__img 
          img 
            width: 110px
            height: 78px
            margin: 0 3px    
    &-text 
      &__title 
        margin: 0 auto        
        padding: 16px 0
        text-align: center
        margin-bottom: 17px
      &__descr 
        font-size: 16px
        font-weight: 300
        line-height: 18px
  .production .slick-active::before 
    width: 110px
    margin-left: 3px
  // contacts
  .contacts 
    padding-top: 36px
    padding-bottom: 15px
    padding-left: 15px
    padding-right: 15px
    &-block 
      display: none
    &-mobile 
      display: block
  .copyright 
    font-size: 12px  

@media (min-width: 768px) and (max-width: 991.98px)
  .hidden-mobile 
    display: none
  // menu
  .menu 
    display: none
    &-close 
      display: block
      color: $text-color-light
      font-size: 45px
      position: absolute
      top: -7px
      cursor: pointer
    &-item 
      border: none
      text-align: center
      &::before
        content: ''
        display: block
        width: 15px
        height: 1px
        border-bottom: 1px dotted rgba(255, 255, 255, 0.4)
        margin: 0 auto
      &:first-child
        &::before 
          border: none
    .menu-item__link 
      font-size: 16px
      line-height: 40px
      padding: 3px 0
    &-block 
      flex-direction: column
  // header
  .header 
    padding: 15px 0
    &-link 
      &__burger 
        display: block
    &-logo 
      background: $active-color url(../img/header/header-logo-mobile.png) center no-repeat      
      width: 36px
      height: 35px
      border-radius: 4px
    &-contacts 
      &__phone
        font-size: 18px
        margin-right: 13px
        font-weight: 500
        margin: 0
        margin-right: 13px
        &:first-child
          border-right: 1px solid rgba(0, 0, 0, 0.2)
          padding-right: 13px
        &-mobile 
          font-weight: 400
      &__button 
        padding: 7px 20px
        margin: 0
        img 
          margin: 0 
  // main 
  .main 
    padding-top: 50px
    padding-bottom: 58px
    &-form 
      padding: 20px
    &-text    
      text-align: center
      &__title 
        font-size: 28px
        line-height: 24px
        color: $active-color
      &__subtitle 
        font-size: 22px
        margin-bottom: 40px
      &__form 
        margin: 0 auto
        background-color: transparent
        padding: 0
    .form
      display: flex
      justify-content: space-between
      margin-top: 40px
      &-title 
        font-size: 18px
        line-height: 18px
        &__important
          display: inline-block
          margin-top: 14px
        &__input
          flex-basis: 65%          
      &-small 
        font-size: 15px
        line-height: 30px
        margin: 0
        margin-top: 10px
  // popup 
  .popup 
    width: 500px
    &-title 
      font-size: 24px
    &-form       
      padding: 0
      &__header
        font-size: 25px
        line-height: 22px
        span 
          font-size: 20px
      &__label 
        font-size: 18px
      &__enter 
        display: flex 
        justify-content: space-around
  // features
  .features 
    padding-top: 24px
    padding-bottom: 32px
    &-blocks 
      display: flex
    &-block 
      padding: 22px 16px
      margin-bottom: 25px
      flex-basis: 48%
  .numbers 
    margin-bottom: 0
    &-block
      width: 100%
      margin: 0
      margin-bottom: 20px 
      &__title 
        font-size: 34px
        margin: 0
      &__text 
        font-size: 14px
  // products 
  .products 
    padding-top: 32px
    padding-bottom: 13px
    &-block 
      margin-bottom: 40px
      &__img
        margin-bottom: 10px
        width: 80%
      &__title 
        margin-bottom: 17px
        font-size: 18px
        &-none 
          display: none
  .section
    &-title 
      font-size: 27px
      margin-bottom: 18px
      &::after 
        display: none
  // offer
  .offer 
    padding-top: 50px
    padding-bottom: 58px
    &-title 
      font-size: 24px
      font-weight: 700
      &-small 
        font-size: 20px
        font-weight: 400
        margin-bottom: 30px
    &-form 
      &-label 
        font-size: 18px
        font-weight: 300
        margin-bottom: 22px
    &-input 
      padding: 16px 65px
    &-button 
      padding: 15px 31px
  // production 
  .production
    padding-top: 40px
    padding-bottom: 40px   
    &-slider
      &-bottom 
        &__img 
          img 
            width: 125px
            height: 78px
            margin: 0 18px     
    &-text 
      &__title 
        margin: 0 auto        
        padding: 18px 0
        text-align: center
        margin-bottom: 17px
      &__descr 
        font-size: 16px
        font-weight: 300
        line-height: 18px
  .production .slick-active::before 
    width: 125px
    margin-left: 18px
  // contacts
  .contacts 
    padding-top: 36px
    padding-bottom: 15px
    padding-left: 15px
    padding-right: 15px
    &-block 
      display: none
    &-mobile 
      display: block

          

  