@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
}

.button {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  background-color: #ff9d00;
  color: #fff;
  border: none;
  padding: 13px 22px;
  border-radius: 5px;
}
.button:hover {
  background-color: #ffa71a;
  cursor: pointer;
}
.button img {
  vertical-align: middle;
  margin-right: 5px;
}
.button-big {
  padding-top: 12px;
  padding-bottom: 12px;
  vertical-align: middle;
}

input:focus, button:focus {
  outline: none;
}

.header {
  padding: 15px 0;
}
.header-logo {
  background: url(../img/header/header-logo.png) center no-repeat;
  background-size: 100%;
  width: 192px;
  height: 61px;
}
.header-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-link {
  margin-right: 13px;
}
.header-link__burger {
  display: none;
  height: 3px;
  width: 23px;
  background-color: #373737;
}
.header-link__burger:before {
  content: "";
  position: absolute;
  height: 3px;
  width: 23px;
  background-color: #373737;
  margin-top: -8px;
}
.header-link__burger:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 23px;
  background-color: #373737;
  margin-top: 8px;
}
.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-contacts__phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-contacts__phone {
  font-size: 22px;
  margin-right: 13px;
  font-weight: 500;
}
.header-contacts__phone:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding-right: 13px;
}
.header-contacts__phone a {
  text-decoration: none;
  color: #373737;
}
.header-contacts__button {
  margin-left: 14px;
}

.main {
  position: relative;
  padding-top: 65px;
  padding-bottom: 60px;
  background: #373737 url(../img/main/main-bg.jpg) center no-repeat;
  background-size: cover;
  color: #fff;
  z-index: 2;
}
.main::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.main-img {
  position: relative;
  margin-left: -110px;
  /* ╨а╨╛╤Б╤В╨╡╤Б╤В */
}
.main-img::before {
  content: "";
  position: absolute;
  z-index: -2;
  width: 390px;
  height: 390px;
  left: 50%;
  margin-left: -145px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.main-img::after {
  content: "";
  display: block;
  position: absolute;
  width: 70px;
  height: 70px;
  z-index: 2;
  left: 80px;
  bottom: -21px;
  background: url(../img/main/rostest.png) center no-repeat;
}
.main-text__title {
  font-size: 41px;
  line-height: 42px;
  font-weight: 700;
}
.main-text__subtitle {
  margin: 0;
  margin-bottom: 27px;
  font-size: 28px;
  font-weight: 400;
}
.main-text__form {
  max-width: 535px;
  padding: 30px 27px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 2px;
}
.main .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .form-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}
.main .form-title__important {
  font-weight: 700;
  text-transform: uppercase;
}
.main .form-title__input {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  padding: 18px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  vertical-align: middle;
}
.main .form-small {
  display: block;
  margin: 0;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup {
  position: fixed;
  left: 50%;
  top: 100px;
  width: 752px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.popup-close {
  position: absolute;
  font-size: 35px;
  color: #fff;
  right: -20px;
  top: -40px;
  font-weight: 300;
  cursor: pointer;
}
.popup-title {
  display: block;
  width: 100%;
  min-height: 71px;
  line-height: 71px;
  margin: 0;
  background-color: #ff9d00;
  color: #fff;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 500;
  text-align: center;
}
.popup-form {
  background: url(../img/modal/modal-bg.jpg) center no-repeat;
  background-size: cover;
  padding: 35px 88px 50px 88px;
  color: #fff;
}
.popup-form__header {
  padding: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}
.popup-form__header span {
  font-size: 24px;
}
.popup-form__label {
  display: block;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin-top: 23px;
}
.popup-form__enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 17px;
}
.popup-form__input {
  width: 365px;
  height: 56px;
  border-radius: 5px;
  color: #373737;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 42px;
  padding-left: 18px;
}
.popup-form__btn {
  width: 180px;
  height: 56px;
  margin-left: 16px;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  background-color: #ff9d00;
}
.popup-form__note {
  margin-top: 9px;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 968px;
  }
}
@media (max-width: 575.98px) {
  .hidden-mobile {
    display: none;
  }

  .header-link__burger {
    display: block;
  }
  .header-logo {
    background: #ff9d00 url(../img/header/header-logo-mobile.png) center no-repeat;
    width: 36px;
    height: 35px;
    border-radius: 4px;
  }
  .header-contacts__phones {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-contacts__phone {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin: 0;
  }
  .header-contacts__phone:first-child {
    border: none;
  }
  .header-contacts__phone-mobile {
    font-weight: 900;
  }
  .header-contacts__button {
    padding: 5px;
    margin: 0;
  }
  .header-contacts__button img {
    margin: 0;
  }

  .main {
    padding-top: 50px;
    padding-bottom: 58px;
  }
  .main-text {
    text-align: center;
  }
  .main-text__title {
    font-size: 22px;
    line-height: 24px;
    color: #ff9d00;
  }
  .main-text__subtitle {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .main-text__form {
    background-color: transparent;
    padding: 0;
  }
  .main .form {
    display: block;
  }
  .main .form-title {
    font-size: 15px;
    line-height: 18px;
  }
  .main .form-title__important {
    display: inline-block;
    margin-top: 14px;
  }
  .main .form-title__input {
    display: block;
    width: 100%;
    padding: 14px;
    text-align: center;
    margin-bottom: 13px;
  }
  .main .form-small {
    font-size: 13px;
    line-height: 30px;
    margin: 0;
    margin-top: 10px;
  }
  .main .button-big {
    padding: 15px 33px;
  }

  .popup {
    width: 250px;
  }
  .popup-title {
    font-size: 18px;
  }
  .popup-form {
    padding: 0;
    margin-top: 30px;
  }
  .popup-form__header {
    font-size: 24px;
    line-height: 22px;
  }
  .popup-form__header span {
    display: none;
  }
  .popup-form__label {
    font-size: 16px;
  }
  .popup-form__enter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 17px;
  }
  .popup-form__input {
    width: 200px;
    margin-bottom: 15px;
    padding: 0;
    text-align: center;
  }
  .popup-form__btn {
    width: 200px;
    height: 56px;
    margin: 0;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .hidden-mobile {
    display: none;
  }

  .header-link__burger {
    display: block;
  }
  .header-logo {
    background: #ff9d00 url(../img/header/header-logo-mobile.png) center no-repeat;
    width: 36px;
    height: 35px;
    border-radius: 4px;
  }
  .header-contacts__phones {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-contacts__phone {
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    margin: 0;
  }
  .header-contacts__phone:first-child {
    border: none;
  }
  .header-contacts__phone-mobile {
    font-weight: 900;
  }
  .header-contacts__button {
    padding: 5px;
    margin: 0;
  }
  .header-contacts__button img {
    margin: 0;
  }

  .main {
    padding-top: 50px;
    padding-bottom: 58px;
  }
  .main-text {
    text-align: center;
  }
  .main-text__title {
    font-size: 26px;
    line-height: 24px;
    color: #ff9d00;
  }
  .main-text__subtitle {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .main-text__form {
    background-color: transparent;
    padding: 0;
  }
  .main .form {
    display: block;
  }
  .main .form-title {
    font-size: 17px;
    line-height: 18px;
  }
  .main .form-title__important {
    display: inline-block;
    margin-top: 14px;
  }
  .main .form-title__input {
    display: block;
    width: 70%;
    margin: 0 auto;
    padding: 14px;
    text-align: center;
    margin-bottom: 13px;
  }
  .main .form-small {
    font-size: 14px;
    line-height: 30px;
    margin: 0;
    margin-top: 10px;
  }
  .main .button-big {
    padding: 15px 33px;
  }

  .popup {
    width: 350px;
  }
  .popup-title {
    font-size: 20px;
  }
  .popup-form {
    padding: 0;
    margin-top: 30px;
  }
  .popup-form__header {
    font-size: 25px;
    line-height: 22px;
  }
  .popup-form__header span {
    display: none;
  }
  .popup-form__label {
    font-size: 18px;
  }
  .popup-form__enter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 17px;
  }
  .popup-form__input {
    width: 200px;
    margin-bottom: 15px;
    padding: 0;
    text-align: center;
  }
  .popup-form__btn {
    width: 200px;
    height: 56px;
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .hidden-mobile {
    display: none;
  }

  .header-link__burger {
    display: block;
  }
  .header-logo {
    background: #ff9d00 url(../img/header/header-logo-mobile.png) center no-repeat;
    width: 36px;
    height: 35px;
    border-radius: 4px;
  }
  .header-contacts__phone {
    font-size: 18px;
    margin-right: 13px;
    font-weight: 500;
    margin: 0;
    margin-right: 13px;
  }
  .header-contacts__phone:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-right: 13px;
  }
  .header-contacts__phone-mobile {
    font-weight: 400;
  }
  .header-contacts__button {
    padding: 7px 20px;
    margin: 0;
  }
  .header-contacts__button img {
    margin: 0;
  }

  .main {
    padding-top: 50px;
    padding-bottom: 58px;
  }
  .main-text {
    text-align: center;
  }
  .main-text__title {
    font-size: 28px;
    line-height: 24px;
    color: #ff9d00;
  }
  .main-text__subtitle {
    font-size: 22px;
    margin-bottom: 40px;
  }
  .main-text__form {
    margin: 0 auto;
    background-color: transparent;
    padding: 0;
  }
  .main .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px;
  }
  .main .form-title {
    font-size: 18px;
    line-height: 18px;
  }
  .main .form-title__important {
    display: inline-block;
    margin-top: 14px;
  }
  .main .form-title__input {
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
  }
  .main .form-small {
    font-size: 15px;
    line-height: 30px;
    margin: 0;
    margin-top: 10px;
  }
  .main .button-big {
    padding: 0 15px;
    vertical-align: middle;
  }

  .popup {
    width: 500px;
  }
  .popup-title {
    font-size: 24px;
  }
  .popup-form {
    padding: 0;
    margin-top: 30px;
  }
  .popup-form__header {
    font-size: 25px;
    line-height: 22px;
  }
  .popup-form__header span {
    font-size: 20px;
  }
  .popup-form__label {
    font-size: 18px;
  }
  .popup-form__enter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .popup-form__input {
    width: 250px;
  }
  .popup-form__btn {
    width: 170px;
    height: 56px;
    margin: 0;
  }
}
